@import url("base.css");

#margin {
  height: 2.8cm;
}
.summary {
  width: 20.6cm;
  font-family: sans-serif;
  border: 2px solid #000000;
  margin-bottom: 0.5cm;
}
.summary_title {
  position: relative;
  height: 1.4cm;
}
.summary_title .gambling_name {
  font-weight: bold;
  font-variant: small-caps;
  font-size: 32pt;
  float: left;
  letter-spacing:3px;
}
.summary_title .gambling_date {
  font-weight: normal;
  font-size: 20pt;
  position: absolute;
  bottom: 0px;
  right: 5px;
}
.summary_title .gambling_date span {
  font-weight: 550;
}

.cell {
  font-size: 26pt;
  border: 1px solid #333333;
  width: 5.12cm;
  height: 1cm;
}
.cell .ordinal {
  float: left;
}
.cell .number {
  float: right;
  font-family: monospace;
  text-align: right;
  padding-right: 0.7em;
}
.first_row .first_col .ordinal {

}
.first_row .first_col .number {
  font-weight: bolder;
  font-size: 28pt;
}
