
body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.resumen_cabezas {
  vertical-align: top;
  display: inline-block;
}

.formularios {
  border: solid 1px #000000;
  display: inline-block;
}