<html>
<head>
  <meta charset="UTF-8" />
  <title>Extractos de la quiniela</title>
  <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/gambling_summary.css" />
</head>
<body>
  <div id="top-margin"></div>
  <div id="summaries">
    {% for gambling in gambling_results %}
    <table class="summary">
      <tbody>
        <tr>
          <th class="summary_title" colspan="8">
            <span class="gambling_name">{{ gambling.display_name }}</span>
            <span class="gambling_date">fecha: <span>{{ gambling.date|date:"d/m" }}</span></span>
          </th>
        </tr>
        {% for row in gambling.table_of_numbers %}
          <tr {% if forloop.first %}class="first_row"{% endif %} >
            {% for pos,num in row %}
              <td class="cell {% if forloop.first %}first_col{% endif %}">
                <span class="ordinal">{{ pos }}</span>
                <span class="number">{{ num }}</span>
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endfor %}
  </div>
</body>
</html>